#dashboard .pro-sidebar {
  height: 100vh;
  width: 320px;
  position: fixed;
  background-color: "#FFFFFF";
  border: 1px solid #E4E4E4;
  border-width: 0 1px 0 0px;
}
#dashboard .pro-sidebar-header {
  border-bottom: none;
}
#dashboard{
  position: relative;
}
.pro-sidebar{
  z-index: 10;
}
@media only screen and (max-width: 768px) {
  #dashboard .pro-sidebar:not(.active) {
      margin-left: -320px;
  }
}
@media only screen and (max-width: 768px) {
  #dashboard .dashboardContainer {
      margin-left: 0px;
  }
}
@media only screen and (min-width: 768px) {
  #dashboard .dashboardContainer {
      margin-left: 320px;
  }
}
#dashboard .pro-sidebar-inner {
  background: #FFFFFF;
  /* background: #8a8aa1; */
}
.swanLogo {
  text-align: center;
  color: #0c0c0c;
}
.swanLogo img {
  width: 64px;
  height: 64px;
}

.sidebarButton {
  width: 228px;
  height: 56px;
  text-align: left;
  /* background: #5932F3; */
  /* Card Soft Stroke */
  border: 1px solid rgba(197, 197, 197, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.25);
  border-radius: 8px;
  cursor: pointer;
  padding-left: 18px;

}

.sideBarMenu {
  text-align: left;
  cursor: pointer;
  width: 228px;
  padding-left: 18px;
  color: #0c0c0c;
  display: inline-flex;
  align-items: center;
}
